* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  background-color: black;
}

footer {
  color: white;
  margin-top: 10px;
  font-size: 24px;
}

.square {
  width: 15%;
  float: left;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.topRow, .bottomRow {
  overflow: auto;
}

#yellow {
  background-color: rgb(155,155,0);
}

#blue {
  background-color: rgb(0,0,155);
}

#red {
  background-color: rgb(155,0,0);
}

#green {
  background-color: rgb(0,155,0);
}

.bottomRow, #instructions {
  clear: both;
}

#yellow, #red {
  margin-left: 34.5%;
}

#blue, #green {
  margin-left: 1%;
}

#red, #green, #score {
  margin-top: 1%;
}

#score {
  margin-bottom: 1%;
}

#score, #instructions {
  color: white;
  font-size: 24px;
}

#instructions {
  margin-top: 1rem;
}

#start {
  margin-top: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

#github {
  text-decoration: none;
  color: white;
}

#github:hover {
  color: gold;
}
